.main-banner {
  width: 100%;
  height: 410px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;

  @media screen and (max-width:780px) {
    height: 250px;
  }

  &__picture {
    height: 100%;
    width: 100%;

  }
  &__content {
    position: absolute;
    transform: translateX(30%);

    @media screen and (max-width:780px) {
      transform: translateX(0);
      text-align: center;
    }
    

    &-text {
      font-size: 60px;
      line-height: 100%;    
      color: #fff;
      margin-bottom: 35px;

      @media screen and (max-width:780px) {
        font-size: 45px; 
      }

      @media screen and (max-width:500px) {
        font-size: 35px; 
        margin-bottom: 25px;
      }
    }

    &-button {
      background: $yellow;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 200px;
      height: 43px;
      transition: .5s;

      @media screen and (max-width:780px) {
        margin: 0 auto;
      }

      &:hover{
        background: #fff;
      }
    }
  }
}

.main-page-map {
  display: flex;

  @media screen and (max-width:1024px) {
    flex-direction: column;
  }

  &__sidebar {
    width: 100%;
    max-width: 285px;
    flex-shrink: 0;
    padding: 50px 20px;
    background: $grayBack;
    margin-right: 10px;

    @media screen and (max-width:1024px) {
      max-width: 100%;
      margin: 0 0 10px 0;
    }

    &-box {
      margin-bottom: 45px;

      &:last-child {
        margin-bottom: 0;
      }

      .title {
        font-size: 18px;
        color: $green;
        line-height: 22px;
        margin-bottom: 5px;
      }
      .adress,.phone {
        opacity: 0.6;
        margin-bottom: 15px;
      }

      &.active {
        background: $yellow;

        .adress, .phone {
          opacity: 1;
        }
      }
    }
  }

  &__map {
    height: 605px;
    width: calc(100% - 295px);
    overflow: hidden;

    @media screen and (max-width:1024px) {
      width: 100%;
      height: 400px;
    }

    @media screen and (max-width:500px) {
      height: 250px;
    }
    
    &-adress {
      opacity: 0;
      position: absolute;
      visibility: hidden;
      width: 100%;
      height: 100%;

      &.active {
        opacity: 1;
        position: relative;
        visibility: visible;
      }
    }
  }

  &.with-map {
    .main-page-map__sidebar {
      padding: 50px 0;

      .section__title {
        padding: 0 20px;  
        margin-bottom: 20px;
      }
    }

   .main-page-map__sidebar-box {
     padding: 20px 20px;
     margin: 0;
     cursor: pointer;
   }

  }
}

.news-slider {
  margin: 0 -10px;
  display: flex;

  @media screen and (max-width:1280px) {
    padding: 0 30px;

    .slick-arrow.prev {
      left: 0;
    }

    .slick-arrow.next {
      right: 0;
    }
  }

  @media screen and (max-width:680px) {
    margin: 0;
  }

  &__item {
    display: block;
    width: calc(100% / 3);
    margin: 0 10px;
    border: 1px solid #fff;
    border-radius: 3px;
    transition: .3s;

    @media screen and (max-width:680px) {
      margin: 0;
    }

    &:hover {
      border-color: $green;
    }

    &-image {
      width: 100%;
      height: 185px;
    }

    &-content {
      padding: 17px 15px 20px;
      background: $grayBack;

      .name {
        color: $green;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10px;
      }

      .intro-text {
        opacity: 0.6;
      }
    }
  }
}

.page-description {
  color: $lightBlack;

  @media screen and (max-width:680px) {
    font-size: 14px;
  }

  p{
    margin-bottom: 10px;
  }
}

.shops-map {
  width: 100%;
  height: 600px;

  @media screen and (max-width:1024px) {
    height: 400px;
  }

  @media screen and (max-width:500px) {
    height: 250px;
  }
}

.shops-wrapper {
  display: flex;
  flex-wrap: wrap;

  .main-page-map__sidebar-box {
    max-width: 245px;
    margin-right: 50px;

    .phone {
      opacity: 0.6;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.vacancy {
  &__item {
    background: $grayBack;
    padding: 20px 30px;
    border-radius: 3px;
    margin: 10px 0;

    @media screen and (max-width:500px) {
      padding: 15px;
    }

    &-header {
      display: flex;
      position: relative;
      flex-wrap: wrap;
      cursor: pointer;
      padding-right: 20px;

      &::after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        width: 20px;
        height: 20px;
        background: url(../img/icons/icon-select-arrow.svg) center no-repeat;
        transition: .3s;
      }

      &.active {
        &::after {
          transform: rotate(-180deg);
        }
      }

      &-box {
        display: flex;
        align-items: center;

        @media screen and (max-width:980px) {
          flex-grow: 1;
        }

        @media screen and (max-width:980px) {
          width: 100% !important;
          margin-bottom: 10px;
        }

        img {
          margin-right: 10px;
        }

        &.name {
          color: $lightGreen;
          width: 30%;

          @media screen and (max-width:980px) {
            width: 100% !important;
            margin-bottom: 10px;
          }
        }
        &.work-time {
          width: 20%;
        }
        &.experience {
          width: 20%;
        }
        &.adress {
          width: 30%;
        }
      }
    }

    &-body {
      padding: 25px 0 0;
      display: none;

      &-box {
        margin-bottom: 12px;

        .box-title {
          font-weight: 500;
          display: block;
          margin-bottom: 10px;
        }

        ul {
          list-style: disc;
          opacity: 0.6;
          padding-left: 20px;
          li {
            &::marker {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

.resume-form {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: -5px;

  .input-box {
    margin: 5px;


    &.w-4 {
      width: calc(100% / 4 - 10px);
      font-size: 16px;

      @media screen and (max-width:980px) {
        width: calc(100% / 2 - 10px);
      }

      @media screen and (max-width:500px) {
        width: 100%;
      }
    }
  }

  .btn {
    width: max-content;
    margin-left: 5px;
  }
}

.question-form {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  max-width: 875px;

  .input-box {
    margin: 5px;

    &.w-3 {
      width: calc(100% / 3 - 10px);

      @media screen and (max-width:600px) {
        width: 100%;
      }
    }
  }

  .btn {
    width: max-content;
    margin-left: 5px;
  }
}

.error-page {
  padding: 20px 0;
  display: flex;
  flex-direction: column;

  @media screen and (max-width:500px) {
    padding: 0;
  }

  &__error-number {
    width: 100%;
    color: $green;
    text-align: center;
    margin-bottom: 40px;
    font-size: 17rem;
    line-height: 100%;

    @media screen and (max-width:500px) {
      font-size: 8rem;
    }
  }

  &__text {
    text-align: center; 
    font-size: 18px;

    @media screen and (max-width:500px) {
      font-size: 16px;
    }

    a {
      color: $green;
    }
  }
}