<div class="catalog-menu">
  <div class="catalog-menu__item">
    <div class="main-category">
      Запчасти отечественные
      @@include('./assets/img/icons/icon-list-arrow.svg')
    </div>
    <div class="catalog-sub-menu">
      <div class="catalog-sub-menu__item">
        <div class="category-name">МАЗ</div>
        <div class="category-sub-menu-level-2">
          <a href="#">Тормозная</a>
          <a href="#">Ремкомплекты</a>
          <a href="#">Фитинги ЕВРОИМПУЛЬС</a>
          <a href="#">Соединители, Переходники WABCO-PE-FEBI-DT</a>
          <a href="#">Трубки, соединители, быстросъемы</a>
        </div>
      </div>
      <div class="catalog-sub-menu__item">
        <div class="category-name">МАЗ</div>
        <div class="category-sub-menu-level-2">
          <a href="#">Тормозная</a>
          <a href="#">Ремкомплекты</a>
          <a href="#">Фитинги ЕВРОИМПУЛЬС</a>
          <a href="#">Соединители, Переходники WABCO-PE-FEBI-DT</a>
          <a href="#">Трубки, соединители, быстросъемы</a>
        </div>
      </div>
      <div class="catalog-sub-menu__item">
        <div class="category-name">МАЗ</div>
        <div class="category-sub-menu-level-2">
          <a href="#">Тормозная</a>
          <a href="#">Ремкомплекты</a>
          <a href="#">Фитинги ЕВРОИМПУЛЬС</a>
          <a href="#">Соединители, Переходники WABCO-PE-FEBI-DT</a>
          <a href="#">Трубки, соединители, быстросъемы</a>
        </div>
      </div>
      <div class="catalog-sub-menu__item">
        <div class="category-name">МАЗ</div>
        <div class="category-sub-menu-level-2">
          <a href="#">Тормозная</a>
          <a href="#">Ремкомплекты</a>
          <a href="#">Фитинги ЕВРОИМПУЛЬС</a>
          <a href="#">Соединители, Переходники WABCO-PE-FEBI-DT</a>
          <a href="#">Трубки, соединители, быстросъемы</a>
        </div>
      </div>
      <div class="catalog-sub-menu__item">
        <div class="category-name">МАЗ</div>
        <div class="category-sub-menu-level-2">
          <a href="#">Тормозная</a>
          <a href="#">Ремкомплекты</a>
          <a href="#">Фитинги ЕВРОИМПУЛЬС</a>
          <a href="#">Соединители, Переходники WABCO-PE-FEBI-DT</a>
          <a href="#">Трубки, соединители, быстросъемы</a>
        </div>
      </div>
    </div>
  </div>
  <div class="catalog-menu__item">
    <div class="main-category">
      Автопринадлежности
      @@include('./assets/img/icons/icon-list-arrow.svg')
    </div>
    <div class="catalog-sub-menu">
      <div class="catalog-sub-menu__item">
        <div class="category-name">МАЗ</div>
        <div class="category-sub-menu-level-2">
          <a href="#">Тормозная</a>
          <a href="#">Ремкомплекты</a>
          <a href="#">Фитинги ЕВРОИМПУЛЬС</a>
          <a href="#">Соединители, Переходники WABCO-PE-FEBI-DT</a>
          <a href="#">Трубки, соединители, быстросъемы</a>
        </div>
      </div>
      <div class="catalog-sub-menu__item">
        <div class="category-name">МАЗ</div>
        <div class="category-sub-menu-level-2">
          <a href="#">Тормозная</a>
          <a href="#">Ремкомплекты</a>
          <a href="#">Фитинги ЕВРОИМПУЛЬС</a>
          <a href="#">Соединители, Переходники WABCO-PE-FEBI-DT</a>
          <a href="#">Трубки, соединители, быстросъемы</a>
        </div>
      </div>
      <div class="catalog-sub-menu__item">
        <div class="category-name">МАЗ</div>
        <div class="category-sub-menu-level-2">
          <a href="#">Тормозная</a>
          <a href="#">Ремкомплекты</a>
          <a href="#">Фитинги ЕВРОИМПУЛЬС</a>
          <a href="#">Соединители, Переходники WABCO-PE-FEBI-DT</a>
          <a href="#">Трубки, соединители, быстросъемы</a>
        </div>
      </div>
      <div class="catalog-sub-menu__item">
        <div class="category-name">МАЗ</div>
        <div class="category-sub-menu-level-2">
          <a href="#">Тормозная</a>
          <a href="#">Ремкомплекты</a>
          <a href="#">Фитинги ЕВРОИМПУЛЬС</a>
          <a href="#">Соединители, Переходники WABCO-PE-FEBI-DT</a>
          <a href="#">Трубки, соединители, быстросъемы</a>
        </div>
      </div>
      <div class="catalog-sub-menu__item">
        <div class="category-name">МАЗ</div>
        <div class="category-sub-menu-level-2">
          <a href="#">Тормозная</a>
          <a href="#">Ремкомплекты</a>
          <a href="#">Фитинги ЕВРОИМПУЛЬС</a>
          <a href="#">Соединители, Переходники WABCO-PE-FEBI-DT</a>
          <a href="#">Трубки, соединители, быстросъемы</a>
        </div>
      </div>
    </div>
  </div>
  <div class="catalog-menu__item">
    <div class="main-category">
      Автохимия
      @@include('./assets/img/icons/icon-list-arrow.svg')
    </div>
    <div class="catalog-sub-menu">
      <div class="catalog-sub-menu__item">
        <div class="category-name">МАЗ</div>
        <div class="category-sub-menu-level-2">
          <a href="#">Тормозная</a>
          <a href="#">Ремкомплекты</a>
          <a href="#">Фитинги ЕВРОИМПУЛЬС</a>
          <a href="#">Соединители, Переходники WABCO-PE-FEBI-DT</a>
          <a href="#">Трубки, соединители, быстросъемы</a>
        </div>
      </div>
      <div class="catalog-sub-menu__item">
        <div class="category-name">МАЗ</div>
        <div class="category-sub-menu-level-2">
          <a href="#">Тормозная</a>
          <a href="#">Ремкомплекты</a>
          <a href="#">Фитинги ЕВРОИМПУЛЬС</a>
          <a href="#">Соединители, Переходники WABCO-PE-FEBI-DT</a>
          <a href="#">Трубки, соединители, быстросъемы</a>
        </div>
      </div>
      <div class="catalog-sub-menu__item">
        <div class="category-name">МАЗ</div>
        <div class="category-sub-menu-level-2">
          <a href="#">Тормозная</a>
          <a href="#">Ремкомплекты</a>
          <a href="#">Фитинги ЕВРОИМПУЛЬС</a>
          <a href="#">Соединители, Переходники WABCO-PE-FEBI-DT</a>
          <a href="#">Трубки, соединители, быстросъемы</a>
        </div>
      </div>
      <div class="catalog-sub-menu__item">
        <div class="category-name">МАЗ</div>
        <div class="category-sub-menu-level-2">
          <a href="#">Тормозная</a>
          <a href="#">Ремкомплекты</a>
          <a href="#">Фитинги ЕВРОИМПУЛЬС</a>
          <a href="#">Соединители, Переходники WABCO-PE-FEBI-DT</a>
          <a href="#">Трубки, соединители, быстросъемы</a>
        </div>
      </div>
      <div class="catalog-sub-menu__item">
        <div class="category-name">МАЗ</div>
        <div class="category-sub-menu-level-2">
          <a href="#">Тормозная</a>
          <a href="#">Ремкомплекты</a>
          <a href="#">Фитинги ЕВРОИМПУЛЬС</a>
          <a href="#">Соединители, Переходники WABCO-PE-FEBI-DT</a>
          <a href="#">Трубки, соединители, быстросъемы</a>
        </div>
      </div>
    </div>
  </div>
  <div class="catalog-menu__item">
    <div class="main-category">
      Аккумуляторы	
      @@include('./assets/img/icons/icon-list-arrow.svg')
    </div>
    <div class="catalog-sub-menu">
      <div class="catalog-sub-menu__item">
        <div class="category-name">МАЗ</div>
        <div class="category-sub-menu-level-2">
          <a href="#">Тормозная</a>
          <a href="#">Ремкомплекты</a>
          <a href="#">Фитинги ЕВРОИМПУЛЬС</a>
          <a href="#">Соединители, Переходники WABCO-PE-FEBI-DT</a>
          <a href="#">Трубки, соединители, быстросъемы</a>
        </div>
      </div>
      <div class="catalog-sub-menu__item">
        <div class="category-name">МАЗ</div>
        <div class="category-sub-menu-level-2">
          <a href="#">Тормозная</a>
          <a href="#">Ремкомплекты</a>
          <a href="#">Фитинги ЕВРОИМПУЛЬС</a>
          <a href="#">Соединители, Переходники WABCO-PE-FEBI-DT</a>
          <a href="#">Трубки, соединители, быстросъемы</a>
        </div>
      </div>
      <div class="catalog-sub-menu__item">
        <div class="category-name">МАЗ</div>
        <div class="category-sub-menu-level-2">
          <a href="#">Тормозная</a>
          <a href="#">Ремкомплекты</a>
          <a href="#">Фитинги ЕВРОИМПУЛЬС</a>
          <a href="#">Соединители, Переходники WABCO-PE-FEBI-DT</a>
          <a href="#">Трубки, соединители, быстросъемы</a>
        </div>
      </div>
      <div class="catalog-sub-menu__item">
        <div class="category-name">МАЗ</div>
        <div class="category-sub-menu-level-2">
          <a href="#">Тормозная</a>
          <a href="#">Ремкомплекты</a>
          <a href="#">Фитинги ЕВРОИМПУЛЬС</a>
          <a href="#">Соединители, Переходники WABCO-PE-FEBI-DT</a>
          <a href="#">Трубки, соединители, быстросъемы</a>
        </div>
      </div>
      <div class="catalog-sub-menu__item">
        <div class="category-name">МАЗ</div>
        <div class="category-sub-menu-level-2">
          <a href="#">Тормозная</a>
          <a href="#">Ремкомплекты</a>
          <a href="#">Фитинги ЕВРОИМПУЛЬС</a>
          <a href="#">Соединители, Переходники WABCO-PE-FEBI-DT</a>
          <a href="#">Трубки, соединители, быстросъемы</a>
        </div>
      </div>
    </div>
  </div>
  <div class="catalog-menu__item">
    <div class="main-category">
      Иномарки	
      @@include('./assets/img/icons/icon-list-arrow.svg')
    </div>
    <div class="catalog-sub-menu">
      <div class="catalog-sub-menu__item">
        <div class="category-name">МАЗ</div>
        <div class="category-sub-menu-level-2">
          <a href="#">Тормозная</a>
          <a href="#">Ремкомплекты</a>
          <a href="#">Фитинги ЕВРОИМПУЛЬС</a>
          <a href="#">Соединители, Переходники WABCO-PE-FEBI-DT</a>
          <a href="#">Трубки, соединители, быстросъемы</a>
        </div>
      </div>
      <div class="catalog-sub-menu__item">
        <div class="category-name">МАЗ</div>
        <div class="category-sub-menu-level-2">
          <a href="#">Тормозная</a>
          <a href="#">Ремкомплекты</a>
          <a href="#">Фитинги ЕВРОИМПУЛЬС</a>
          <a href="#">Соединители, Переходники WABCO-PE-FEBI-DT</a>
          <a href="#">Трубки, соединители, быстросъемы</a>
        </div>
      </div>
      <div class="catalog-sub-menu__item">
        <div class="category-name">МАЗ</div>
        <div class="category-sub-menu-level-2">
          <a href="#">Тормозная</a>
          <a href="#">Ремкомплекты</a>
          <a href="#">Фитинги ЕВРОИМПУЛЬС</a>
          <a href="#">Соединители, Переходники WABCO-PE-FEBI-DT</a>
          <a href="#">Трубки, соединители, быстросъемы</a>
        </div>
      </div>
      <div class="catalog-sub-menu__item">
        <div class="category-name">МАЗ</div>
        <div class="category-sub-menu-level-2">
          <a href="#">Тормозная</a>
          <a href="#">Ремкомплекты</a>
          <a href="#">Фитинги ЕВРОИМПУЛЬС</a>
          <a href="#">Соединители, Переходники WABCO-PE-FEBI-DT</a>
          <a href="#">Трубки, соединители, быстросъемы</a>
        </div>
      </div>
      <div class="catalog-sub-menu__item">
        <div class="category-name">МАЗ</div>
        <div class="category-sub-menu-level-2">
          <a href="#">Тормозная</a>
          <a href="#">Ремкомплекты</a>
          <a href="#">Фитинги ЕВРОИМПУЛЬС</a>
          <a href="#">Соединители, Переходники WABCO-PE-FEBI-DT</a>
          <a href="#">Трубки, соединители, быстросъемы</a>
        </div>
      </div>
    </div>
  </div>
  <div class="catalog-menu__item">
    <div class="main-category">
      Масла
      @@include('./assets/img/icons/icon-list-arrow.svg')
    </div>
    <div class="catalog-sub-menu">
      <div class="catalog-sub-menu__item">
        <div class="category-name">МАЗ</div>
        <div class="category-sub-menu-level-2">
          <a href="#">Тормозная</a>
          <a href="#">Ремкомплекты</a>
          <a href="#">Фитинги ЕВРОИМПУЛЬС</a>
          <a href="#">Соединители, Переходники WABCO-PE-FEBI-DT</a>
          <a href="#">Трубки, соединители, быстросъемы</a>
        </div>
      </div>
      <div class="catalog-sub-menu__item">
        <div class="category-name">МАЗ</div>
        <div class="category-sub-menu-level-2">
          <a href="#">Тормозная</a>
          <a href="#">Ремкомплекты</a>
          <a href="#">Фитинги ЕВРОИМПУЛЬС</a>
          <a href="#">Соединители, Переходники WABCO-PE-FEBI-DT</a>
          <a href="#">Трубки, соединители, быстросъемы</a>
        </div>
      </div>
      <div class="catalog-sub-menu__item">
        <div class="category-name">МАЗ</div>
        <div class="category-sub-menu-level-2">
          <a href="#">Тормозная</a>
          <a href="#">Ремкомплекты</a>
          <a href="#">Фитинги ЕВРОИМПУЛЬС</a>
          <a href="#">Соединители, Переходники WABCO-PE-FEBI-DT</a>
          <a href="#">Трубки, соединители, быстросъемы</a>
        </div>
      </div>
      <div class="catalog-sub-menu__item">
        <div class="category-name">МАЗ</div>
        <div class="category-sub-menu-level-2">
          <a href="#">Тормозная</a>
          <a href="#">Ремкомплекты</a>
          <a href="#">Фитинги ЕВРОИМПУЛЬС</a>
          <a href="#">Соединители, Переходники WABCO-PE-FEBI-DT</a>
          <a href="#">Трубки, соединители, быстросъемы</a>
        </div>
      </div>
      <div class="catalog-sub-menu__item">
        <div class="category-name">МАЗ</div>
        <div class="category-sub-menu-level-2">
          <a href="#">Тормозная</a>
          <a href="#">Ремкомплекты</a>
          <a href="#">Фитинги ЕВРОИМПУЛЬС</a>
          <a href="#">Соединители, Переходники WABCO-PE-FEBI-DT</a>
          <a href="#">Трубки, соединители, быстросъемы</a>
        </div>
      </div>
    </div>
  </div>
</div>