<div class="catalog-filter-wrapper">
  <div class="filter-mobile-opener">Фильтр @@include('./assets/img/icons/icon-list-arrow.svg')</div>
  <form action="#" class="catalog-filter">
    <div class="catalog-filter__item">
      <div class="catalog-filter__item-head active">
        Цена
        @@include('./assets/img/icons/icon-list-arrow.svg')
      </div>
      <div class="catalog-filter__item-body">
  
        
      </div>
    </div>
    <div class="catalog-filter__item">
      <div class="catalog-filter__item-head active">
        Производитель
        @@include('./assets/img/icons/icon-list-arrow.svg')
      </div>
      <div class="catalog-filter__item-body">
        <div class="check-box-container">
          <label class="check-box-container__item">
            <input type="checkbox" name="">
            <div class="check"></div>
            VOLVO
          </label>
          <label class="check-box-container__item">
            <input type="checkbox" name="">
            <div class="check"></div>
            VOLVO
          </label>
          <label class="check-box-container__item">
            <input type="checkbox" name="">
            <div class="check"></div>
            VOLVO
          </label>
          <label class="check-box-container__item">
            <input type="checkbox" name="">
            <div class="check"></div>
            VOLVO
          </label>
          <label class="check-box-container__item">
            <input type="checkbox" name="">
            <div class="check"></div>
            VOLVO
          </label>
        </div>
        
      </div>
    </div>
    <div class="catalog-filter__item">
      <div class="catalog-filter__item-head active">
        Наличие
        @@include('./assets/img/icons/icon-list-arrow.svg')
      </div>
      <div class="catalog-filter__item-body">
        <div class="check-box-container">
          <label class="check-box-container__item">
            <input type="checkbox" name="">
            <div class="check"></div>
            В наличии
          </label>
          <label class="check-box-container__item">
            <input type="checkbox" name="">
            <div class="check"></div>
            Возможен предзаказ
          </label>
        </div>
      </div>
    </div>
  
    <div class="filter-buttons-box">
      <button type="submit" class="filter-buttons-box__btn apply">Подробнее</button>
      <button class="filter-buttons-box__btn abort">Скрыть</button>
    </div>
  </form>
</div>
