<header class="header">
  <div class="container">
    <div class="header__top">
      <div class="region">
        <div class="region__main">
          <img src="./img/icons/icon-map-marker-small.svg" class="region-icon">
          <div class="region-name">Москва</div>
          <div class="arrow">@@include('./assets/img/icons/icon-list-arrow.svg')</div>
        </div>
        <div class="region__drop">
          <a href="#" class="region__drop-item">Москва</a>
          <a href="#" class="region__drop-item">Москва</a>
        </div>
      </div>
      <div class="additional-menu">
        <a href="#" class="additional-menu_item">О компании</a>
        <a href="#" class="additional-menu_item">Новости</a>
        <a href="#" class="additional-menu_item">Вакансии</a>
        <a href="#" class="additional-menu_item">Контакты</a>
        <a href="#" class="additional-menu_item">Фотогалерея</a>
        <a href="#" class="additional-menu_item">Список магазинов</a>
        <a href="#" class="additional-menu_item">Документы</a>
      </div>
      <div class="phones"></div>
    </div>
  </div>
  
</header> 