<div class="section">
  <div class="container">
    <div class="section__title">Хиты продаж</div>
    <div class="catalog catalog--hits">
      <div class="catalog__product">
        <div class="catalog__product-tags">
          <div class="catalog__product-tag hit">Хит продаж</div>
        </div>
        <div class="catalog__product-favorite">
          <img src="./img/icons/icon-heart-gray.svg" alt="" class="not-active">
          <img src="./img/icons/icon-heart-green.svg" alt="" class="active">
        </div>
        <a href="#" class="catalog__product-image">
          <img src="./img/hits-1.png" alt="">
        </a>
        <div class="catalog__product-articul">Артикул: 12389234</div>
        <a href="#" class="catalog__product-name">Подшипник 120</a>
        <div class="catalog__product-price">148,50₽</div>

        <div class="catalog__product-footer">
          <div class="counter">
            <div class="counter__button minus">-</div>
            <div class="counter__count">1</div>
            <div class="counter__button plus">+</div>
          </div>
          <div class="btn"><img src="./img/icons/icon-cart-yellow.svg" alt=""> В корзину</div>
        </div>
      </div>
      <div class="catalog__product">
        <div class="catalog__product-tags">
          <div class="catalog__product-tag hit">Хит продаж</div>
        </div>
        <div class="catalog__product-favorite">
          <img src="./img/icons/icon-heart-gray.svg" alt="" class="not-active">
          <img src="./img/icons/icon-heart-green.svg" alt="" class="active">
        </div>
        <a href="#" class="catalog__product-image">
          <img src="./img/hits-1.png" alt="">
        </a>
        <div class="catalog__product-articul">Артикул: 12389234</div>
        <a href="#" class="catalog__product-name">Подшипник 120</a>
        <div class="catalog__product-price">148,50₽</div>

        <div class="catalog__product-footer">
          <div class="counter">
            <div class="counter__button minus">-</div>
            <div class="counter__count">1</div>
            <div class="counter__button plus">+</div>
          </div>
          <div class="btn"><img src="./img/icons/icon-cart-yellow.svg" alt=""> В корзину</div>
        </div>
      </div>
      <div class="catalog__product">
        <div class="catalog__product-tags">
          <div class="catalog__product-tag hit">Хит продаж</div>
        </div>
        <div class="catalog__product-favorite">
          <img src="./img/icons/icon-heart-gray.svg" alt="" class="not-active">
          <img src="./img/icons/icon-heart-green.svg" alt="" class="active">
        </div>
        <a href="#" class="catalog__product-image">
          <img src="./img/hits-1.png" alt="">
        </a>
        <div class="catalog__product-articul">Артикул: 12389234</div>
        <a href="#" class="catalog__product-name">Подшипник 120</a>
        <div class="catalog__product-price">148,50₽</div>

        <div class="catalog__product-footer">
          <div class="counter">
            <div class="counter__button minus">-</div>
            <div class="counter__count">1</div>
            <div class="counter__button plus">+</div>
          </div>
          <div class="btn"><img src="./img/icons/icon-cart-yellow.svg" alt=""> В корзину</div>
        </div>
      </div>
      <div class="catalog__product">
        <div class="catalog__product-tags">
          <div class="catalog__product-tag hit">Хит продаж</div>
        </div>
        <div class="catalog__product-favorite">
          <img src="./img/icons/icon-heart-gray.svg" alt="" class="not-active">
          <img src="./img/icons/icon-heart-green.svg" alt="" class="active">
        </div>
        <a href="#" class="catalog__product-image">
          <img src="./img/hits-1.png" alt="">
        </a>
        <div class="catalog__product-articul">Артикул: 12389234</div>
        <a href="#" class="catalog__product-name">Подшипник 120</a>
        <div class="catalog__product-price">148,50₽</div>

        <div class="catalog__product-footer">
          <div class="counter">
            <div class="counter__button minus">-</div>
            <div class="counter__count">1</div>
            <div class="counter__button plus">+</div>
          </div>
          <div class="btn"><img src="./img/icons/icon-cart-yellow.svg" alt=""> В корзину</div>
        </div>
      </div>
      <div class="catalog__product">
        <div class="catalog__product-tags">
          <div class="catalog__product-tag hit">Хит продаж</div>
        </div>
        <div class="catalog__product-favorite">
          <img src="./img/icons/icon-heart-gray.svg" alt="" class="not-active">
          <img src="./img/icons/icon-heart-green.svg" alt="" class="active">
        </div>
        <a href="#" class="catalog__product-image">
          <img src="./img/hits-1.png" alt="">
        </a>
        <div class="catalog__product-articul">Артикул: 12389234</div>
        <a href="#" class="catalog__product-name">Подшипник 120</a>
        <div class="catalog__product-price">148,50₽</div>

        <div class="catalog__product-footer">
          <div class="counter">
            <div class="counter__button minus">-</div>
            <div class="counter__count">1</div>
            <div class="counter__button plus">+</div>
          </div>
          <div class="btn"><img src="./img/icons/icon-cart-yellow.svg" alt=""> В корзину</div>
        </div>
      </div>
    </div>
  </div>
</div>