<div class="header__mobile-main-menu">
  <div class="menu-close">
    @@include('./assets/img/icons/icon-popup-cross.svg')
  </div>
  <div class="header__mobile-main-menu-wrapper">
    <div class="mobile-menu-item parrent">
      <div class="main-item">
        Запчасти отечественные
      </div>
      <div class="sub-menu level-2">
        <div class="sub-menu__wrapper">
          <div class="mobile-menu-item parrent">
            <div class="main-item">
              Запчасти отечественные
            </div>
            <div class="sub-menu level-3">
              <div class="sub-menu__wrapper">
                <a class="mobile-menu-item" href="#">МАЗ</a>
                <a class="mobile-menu-item" href="#">МАЗ</a>
                <a class="mobile-menu-item" href="#">МАЗ</a>
                <a class="mobile-menu-item" href="#">МАЗ</a>
                <a class="mobile-menu-item" href="#">МАЗ</a>
                <a class="mobile-menu-item" href="#">МАЗ</a>
                <a class="mobile-menu-item" href="#">МАЗ</a>
                <a class="mobile-menu-item" href="#">МАЗ</a>
                <a class="mobile-menu-item" href="#">МАЗ</a>
              </div>
            </div>
          </div>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
        </div>
      </div>
    </div>
    <div class="mobile-menu-item parrent">
      <div class="main-item">
        Автопринадлежности
      </div>
      <div class="sub-menu level-2">
        <div class="sub-menu__wrapper">
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
        </div>
        
      </div>
    </div>
    <div class="mobile-menu-item parrent">
      <div class="main-item">
        Автохимия
      </div>
      <div class="sub-menu level-2">
        <div class="sub-menu__wrapper">
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
        </div>
        
      </div>
    </div>
    <div class="mobile-menu-item parrent">
      <div class="main-item">
        Аккумуляторы
      </div>
      <div class="sub-menu level-2">
        <div class="sub-menu__wrapper">
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
        </div>
        
      </div>
    </div>
    <div class="mobile-menu-item parrent">
      <div class="main-item">
        Иномарки
      </div>
      <div class="sub-menu level-2">
        <div class="sub-menu__wrapper">
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
        </div>
      </div>
    </div>
    <div class="mobile-menu-item parrent">
      <div class="main-item">
        Масла
      </div>
      <div class="sub-menu level-2">
        <div class="sub-menu__wrapper">
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
          <a class="mobile-menu-item" href="#">МАЗ</a>
        </div>
      </div>
    </div>
    <div class="mobile-menu-item">
      <a href="#" class="main-item">
        О компании
      </a>
    </div>
    <div class="mobile-menu-item">
      <a href="#" class="main-item">
        Новости
      </a>
    </div>
    <div class="mobile-menu-item">
      <a href="#" class="main-item">
        Вакансии
      </a>
    </div>
    <div class="mobile-menu-item">
      <a href="#" class="main-item">
        Контакты
      </a>
    </div>
    <div class="mobile-menu-item">
      <a href="#" class="main-item">
        Фотогалерея
      </a>
    </div>
    <div class="mobile-menu-item">
      <a href="#" class="main-item">
        Список магазинов
      </a>
    </div>
    <div class="mobile-menu-item">
      <a href="#" class="main-item">
        Документы
      </a>
    </div>
  </div>
  <div class="phones">
    <a href="tel:+7 10 73042588">+7 10 73042588</a>
    <a href="tel:+7 10 73042588">+7 10 73042588</a>
  </div>
  <div class="contacts">
    <div>
      Москва, ул. Побеждённых <br> вход в гараж со стороны
    </div>
    <div>
      Пн - пт с 9.00 до 18.00 <br> Сб - Вск с 8.00 до 20.00
    </div>
    
    <a href="mailto:support@tzap.ru">support@tzap.ru</a>
  </div>
</div>