<div class="header__main-menu">
  <div class="header__main-menu-wrapper">
    <div class="tab_section">
      <div class="tab_section__tab_container">
        <div class="tab_section__tab active" data-tab="menu1">Запчасти отечественные</div>
        <div class="tab_section__tab" data-tab="menu2">Автопринадлежности</div>
        <div class="tab_section__tab" data-tab="menu3">Автохимия</div>
        <div class="tab_section__tab" data-tab="menu4">Аккумуляторы</div>
        <div class="tab_section__tab" data-tab="menu5">Иномарки</div>
        <div class="tab_section__tab" data-tab="menu6">Масла</div>
      </div>

      <div class="tab_section__content">
        <div class="tab_section__content_tab menu1_tab active">
          <div class="menu-sidebar">
            <div class="menu-sidebar__item">
              <a href="#">МАЗ @@include('./assets/img/icons/icon-list-arrow.svg')</a>
              <div class="sub-menu">
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
              </div>
            </div>
            <div class="menu-sidebar__item">
              <a href="#">КАМАЗ @@include('./assets/img/icons/icon-list-arrow.svg')</a>
              <div class="sub-menu">
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
              </div>
            </div>
            <div class="menu-sidebar__item">
              <a href="#">ЗИЛ @@include('./assets/img/icons/icon-list-arrow.svg')</a>
              <div class="sub-menu">
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
              </div>
            </div>
            <div class="menu-sidebar__item">
              <a href="#">ЗИЛ-5301 @@include('./assets/img/icons/icon-list-arrow.svg')</a>
              <div class="sub-menu">
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
              </div>
            </div>
            <div class="menu-sidebar__item">
              <a href="#">ГАЗель, ГАЗ @@include('./assets/img/icons/icon-list-arrow.svg')</a>
              <div class="sub-menu">
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
              </div>
            </div>
            <div class="menu-sidebar__item">
              <a href="#">ПАЗ, ГАЗ @@include('./assets/img/icons/icon-list-arrow.svg')</a>
              <div class="sub-menu">
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
              </div>
            </div>
            <div class="menu-sidebar__item">
              <a href="#">КРАЗ, УРАЛ @@include('./assets/img/icons/icon-list-arrow.svg')</a>
              <div class="sub-menu">
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
              </div>
            </div>
            <div class="menu-sidebar__item">
              <a href="#">УАЗ @@include('./assets/img/icons/icon-list-arrow.svg')</a>
              <div class="sub-menu">
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
              </div>
            </div>
            <div class="menu-sidebar__item">
              <a href="#">МТЗ @@include('./assets/img/icons/icon-list-arrow.svg')</a>
              <div class="sub-menu">
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
              </div>
            </div>
            <div class="menu-sidebar__item">
              <a href="#">Приборы @@include('./assets/img/icons/icon-list-arrow.svg')</a>
              <div class="sub-menu">
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
              </div>
            </div>
            <div class="menu-sidebar__item">
              <a href="#">Тормозная аппаратура @@include('./assets/img/icons/icon-list-arrow.svg')</a>
              <div class="sub-menu">
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
              </div>
            </div>
            <div class="menu-sidebar__item">
              <a href="#">Электрика @@include('./assets/img/icons/icon-list-arrow.svg')</a>
              <div class="sub-menu">
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
                <a href="#">Моторная</a>
                <a href="#">Прокладки на двигатель</a>
              </div>
            </div>
          </div>
          <div class="main-section">

          </div>
        </div>
        <div class="tab_section__content_tab menu2_tab active">
          
        </div>
        <div class="tab_section__content_tab menu3_tab active">
          
        </div>
        <div class="tab_section__content_tab menu4_tab active">
          
        </div>
        <div class="tab_section__content_tab menu5_tab active">
          
        </div>
        <div class="tab_section__content_tab menu6_tab active">
          
        </div>
      </div>
    </div>
  </div>
</div>