<div class="section">
  <div class="container">
    <div class="section__title">Новости</div>
    <div class="news-slider">
      <a href="#" class="news-slider__item no-hover">
        <div class="news-slider__item-image">
          <img src="./img/news-1.png" alt="" class="fit">
        </div>
        <div class="news-slider__item-content">
          <div class="name">Почему важно подобрать качественные запчасти</div>
          <div class="intro-text">Одновременно с приобретением автомобиля каждый владелец задумывается где будет доставать запчасти для ремонта своего «железного коня», даже если это ...</div>
        </div>
      </a>
      <a href="#" class="news-slider__item no-hover">
        <div class="news-slider__item-image">
          <img src="./img/news-2.png" alt="" class="fit">
        </div>
        <div class="news-slider__item-content">
          <div class="name">Какие бывают автозапчасти? Давайте разберёмся с автомобильными деталями в деталях</div>
          <div class="intro-text">Запчасти к автомобилю бывают оригинальные, которые имеют маркировку автомобилестроительного завода и  ... </div>
        </div>
      </a>
      <a href="#" class="news-slider__item no-hover">
        <div class="news-slider__item-image">
          <img src="./img/news-3.png" alt="" class="fit">
        </div>
        <div class="news-slider__item-content">
          <div class="name">Почему важно подобрать качественные запчасти</div>
          <div class="intro-text">Одновременно с приобретением автомобиля каждый владелец задумывается где будет доставать запчасти для ремонта своего «железного коня», даже если это ...</div>
        </div>
      </a>
      <a href="#" class="news-slider__item no-hover">
        <div class="news-slider__item-image">
          <img src="./img/news-3.png" alt="" class="fit">
        </div>
        <div class="news-slider__item-content">
          <div class="name">Почему важно подобрать качественные запчасти</div>
          <div class="intro-text">Одновременно с приобретением автомобиля каждый владелец задумывается где будет доставать запчасти для ремонта своего «железного коня», даже если это ...</div>
        </div>
      </a>
    </div>
  </div>
</div>