<div class="popup login_popup">
  <div class="popup__wrapper">
    <div class="popup__content login-content">
      <div class="popup__close"></div>
      <div class="section__title">Авторизация</div>

      <form action="#" class="login-form">
        <div class="input-box">
          <input type="text" class="input" placeholder="Номер телефона">
        </div>
        <div class="input-box">
          <input type="password" class="input" placeholder="Пароль">
          <span class="forgot-pass">Забыли пароль?</span>
        </div>
        <button class="btn" type="submit">Войти</button>
      </form>

      <div class="form-switch">
        <span class="to-register-form">Зарегистрироваться</span>
      </div>
    </div>

    <div class="popup__content registration-content hidden">
      <div class="popup__close"></div>
      <div class="section__title">Авторизация</div>

      <div class="tab_section">
        <div class="tab_section__tab_container">
          <div class="tab_section__tab active" data-tab="individual">Физическое лицо</div>
          <div class="tab_section__tab" data-tab="entity">Юридическое лицо</div>
        </div>
        <div class="tab_section__content">
          <div class="tab_section__content_tab individual_tab active">
            <form action="#" class="registration-form">
              <div class="columns-wrapper">
                <div class="inputs-column">
                  <div class="input-box">
                    <input type="text" class="input" placeholder="Фамилия*" required>
                  </div>
                  <div class="input-box">
                    <input type="text" class="input" placeholder="Имя*" required>
                  </div>
                  <div class="input-box">
                    <input type="text" class="input" placeholder="Отчество">
                  </div>
                  <div class="input-box">
                    <input type="text" class="input" placeholder="Телефон*" required>
                  </div>
                  <div class="input-box">
                    <input type="email" class="input" placeholder="E-mail*" required>
                  </div>
                  <div class="input-box">
                    <input type="text" class="input" placeholder="Название компании*" required>
                  </div>
                </div>
                <div class="inputs-column">
                  <div class="input-box">
                    <input type="text" class="input" placeholder="Юридический адрес*" required>
                  </div>
                  <div class="input-box">
                    <input type="text" class="input" placeholder="ИНН*" required>
                  </div>
                  <div class="input-box">
                    <input type="text" class="input" placeholder="КПП*" required>
                  </div>
                  <div class="input-box">
                    <input type="text" class="input" placeholder="Пароль*" required>
                  </div>
                  <div class="input-box">
                    <input type="text" class="input" placeholder="Подтверждение пароля*" required>
                  </div>
                </div>
              </div>
              <button class="btn" type="submit">Войти</button>
            </form>
          </div>
          <div class="tab_section__content_tab entity_tab">
            <form action="#" class="registration-form">
              <div class="columns-wrapper">
                <div class="inputs-column">
                  <div class="input-box">
                    <input type="text" class="input" placeholder="Фамилия*" required>
                  </div>
                  <div class="input-box">
                    <input type="text" class="input" placeholder="Имя*" required>
                  </div>
                  <div class="input-box">
                    <input type="text" class="input" placeholder="Отчество">
                  </div>
                  <div class="input-box">
                    <input type="text" class="input" placeholder="Телефон*" required>
                  </div>
                  <div class="input-box">
                    <input type="email" class="input" placeholder="E-mail*" required>
                  </div>
                  <div class="input-box">
                    <input type="text" class="input" placeholder="Название компании*" required>
                  </div>
                </div>
                <div class="inputs-column">
                  <div class="input-box">
                    <input type="text" class="input" placeholder="Юридический адрес*" required>
                  </div>
                  <div class="input-box">
                    <input type="text" class="input" placeholder="ИНН*" required>
                  </div>
                  <div class="input-box">
                    <input type="text" class="input" placeholder="КПП*" required>
                  </div>
                  <div class="input-box">
                    <input type="text" class="input" placeholder="Пароль*" required>
                  </div>
                  <div class="input-box">
                    <input type="text" class="input" placeholder="Подтверждение пароля*" required>
                  </div>
                </div>
              </div>
              <button class="btn" type="submit">Войти</button>
            </form>
          </div>
        </div>
      </div>

      

      <div class="form-switch">
        <span class="to-login-form">Авторизоваться</span>
      </div>
    </div>
  </div>
  
</div>