

// breakpoints
$xs: 450px;
$sm: 576px;
$md: 768px;
$fa: 800px;
$lg: 992px;
$xl: 1200px;

// fonts
$proxima: "Proxima Nova", sans-serif;

// shadow
$baseShadow: 0 10px 30px rgba(7, 17, 55, 0.08);
$violetShadow: 0 10px 30px rgba(103, 31, 129, 0.2);



